Repository redaxo/redaxo, pull requests merged in 2018-10, with the labels that each got.

#2059 verständlichere CSRF-Meldung
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lang/en_gb.lang
  redaxo/src/core/lang/es_es.lang
  redaxo/src/core/lang/sv_se.lang
Labels: Enhancement, Hacktoberfest, User Experience (UX)

#2071 Addons - Escaping durch rex_escape ersetzt
  redaxo/src/addons/cronjob/lib/form.php
  redaxo/src/addons/cronjob/lib/manager.php
  redaxo/src/addons/cronjob/pages/log.php
  redaxo/src/addons/install/pages/packages.add.php
  redaxo/src/addons/install/pages/packages.update.php
  redaxo/src/addons/install/pages/packages.upload.php
  redaxo/src/addons/install/pages/settings.php
  redaxo/src/addons/media_manager/pages/effects.php
  redaxo/src/addons/media_manager/pages/settings.php
  redaxo/src/addons/media_manager/pages/types.php
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
  redaxo/src/addons/mediapool/lib/media.php
  redaxo/src/addons/mediapool/pages/index.php
  redaxo/src/addons/mediapool/pages/media.php
  redaxo/src/addons/mediapool/pages/structure.php
  redaxo/src/addons/metainfo/lib/handler/handler.php
  redaxo/src/addons/metainfo/lib/input/linkbutton.php
  redaxo/src/addons/metainfo/lib/input/linklistbutton.php
  redaxo/src/addons/metainfo/lib/input/mediabutton.php
  redaxo/src/addons/metainfo/lib/input/medialistbutton.php
  redaxo/src/addons/metainfo/lib/input/text.php
  redaxo/src/addons/metainfo/lib/input/textarea.php
  redaxo/src/addons/metainfo/pages/content.metainfo.php
  redaxo/src/addons/structure/functions/function_rex_searchbar.php
  redaxo/src/addons/structure/lib/linkmap/linkmap.php
  redaxo/src/addons/structure/lib/linkmap/renderer.php
  redaxo/src/addons/structure/lib/linkmap/sitemap.php
  redaxo/src/addons/structure/lib/linkmap/var_link.php
  redaxo/src/addons/structure/lib/linkmap/var_linklist.php
  redaxo/src/addons/structure/lib/navigation.php
  redaxo/src/addons/structure/lib/structure_element.php
  redaxo/src/addons/structure/lib/var_article.php
  redaxo/src/addons/structure/lib/var_category.php
  redaxo/src/addons/structure/pages/index.php
  redaxo/src/addons/structure/plugins/content/lib/var_value.php
  redaxo/src/addons/structure/plugins/content/pages/content.php
  redaxo/src/addons/structure/plugins/content/pages/modules.actions.php
  redaxo/src/addons/structure/plugins/content/pages/modules.modules.php
  redaxo/src/addons/structure/plugins/content/pages/templates.php
  redaxo/src/addons/users/pages/users.php
Labels: Enhancement, Hacktoberfest, Security

#2069 core - Escaping durch rex_escape ersetzt
  redaxo/src/core/layout/top.php
  redaxo/src/core/lib/context.php
  redaxo/src/core/lib/form/elements/checkbox.php
  redaxo/src/core/lib/form/elements/container.php
  redaxo/src/core/lib/form/elements/element.php
  redaxo/src/core/lib/form/elements/radio.php
  redaxo/src/core/lib/form/form_base.php
  redaxo/src/core/lib/list.php
  redaxo/src/core/lib/select.php
  redaxo/src/core/lib/setup/import.php
  redaxo/src/core/lib/util/formatter.php
  redaxo/src/core/lib/util/i18n.php
  redaxo/src/core/pages/credits.php
  redaxo/src/core/pages/login.php
  redaxo/src/core/pages/packages.php
  redaxo/src/core/pages/profile.php
  redaxo/src/core/pages/system.clangs.php
  redaxo/src/core/pages/system.log.external.php
  redaxo/src/core/pages/system.log.redaxo.php
  redaxo/src/core/pages/system.settings.php
  redaxo/src/core/tests/context_test.php
  redaxo/src/core/tests/util/formatter_test.php
Labels: Core, Enhancement, Hacktoberfest

#2116 PHPMailer Readme etwas überarbeitet
  redaxo/src/addons/phpmailer/README.md
Labels: PHPMailer
