Repository redaxo/redaxo, pull requests merged in 2018-11, with the labels that each got.

#2158 XSS verhindern im medienpool via opener_input_field
  redaxo/src/addons/mediapool/pages/index.php
Labels: Bug, Mediapool, Security

#1855 Immutable/Long-Living backend assets verwenden
  redaxo/src/core/backend.php
  redaxo/src/core/fragments/core/top.php
Labels: Core, Enhancement

#2068 Bei XX7 Berechtigungen warnen
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lib/setup/setup.php
Labels: Enhancement, Security

#2167 add cli command db:set-connection-options
  redaxo/src/core/lib/console/command_loader.php
  redaxo/src/core/lib/console/db/set_connection_options.php
Labels: Console, Core

#2169 rex_sql - Debug-Ausgabe erweitern um aufgelöstes SQL-Statement
  redaxo/src/core/lib/sql/sql.php
Labels: Core, Developer Experience (DX), Enhancement

#2174 Gestylte generische error-seite statt "'Oooops, an internal error occ…
  redaxo/src/core/fragments/core/ooops.php
  redaxo/src/core/lib/error_handler.php
Labels: Enhancement, User Experience (UX)

#2176 Error beheben wenn error-log nicht definiert ist
  redaxo/src/core/pages/system.log.external.php
Labels: Core, Enhancement

#2180 add command config:get
  redaxo/src/core/lib/console/command_loader.php
  redaxo/src/core/lib/console/config/get.php
Labels: Console, Core

#2205 phpmailer: filetime nur ermitteln wenn auch benutzt
  redaxo/src/addons/phpmailer/boot.php
Labels: Enhancement, PHPMailer

#2186 Whoops : copy Buttons angepasst, fixed #2173
  redaxo/src/core/lib/error_handler.php
Labels: Developer Experience (DX), Enhancement

#2207 Errorseiten nicht in Suchmaschinen listen
  redaxo/src/core/lib/error_handler.php
Labels: Core, Enhancement, Security

#2201 Autoloader cache nicht schreiben, wenn ein error auftritt
  redaxo/src/core/lib/autoload.php
Labels: Core, Developer Experience (DX), Enhancement

#2200 Regenerieren des autoload-cache während des setups erlauben
  redaxo/src/core/lib/autoload.php
Labels: Core, Developer Experience (DX), Enhancement

#2193 PHPMailer::Speichern und testen
  redaxo/src/addons/phpmailer/lang/de_de.lang
  redaxo/src/addons/phpmailer/lang/en_gb.lang
  redaxo/src/addons/phpmailer/lang/es_es.lang
  redaxo/src/addons/phpmailer/lang/sv_se.lang
  redaxo/src/addons/phpmailer/pages/config.php
Labels: PHPMailer, User Experience (UX)

#2231 customizer: prevent notice
  redaxo/src/addons/be_style/plugins/customizer/boot.php
Labels: Bug
