Repository redaxo/redaxo, pull requests merged in 2018-02, with the labels that each got.

#1567 setup:check console commando hinzugefügt
  redaxo/src/core/lib/console/command_loader.php
  redaxo/src/core/lib/console/setup/check.php
Labels: Console, Feature

#1624 rex_delete_cache(): rex_config zurücksetzen
  redaxo/src/core/functions/function_rex_other.php
Labels: Bug, Core

#1625 Import Backup: Cache löschen vor EP
  redaxo/src/addons/backup/lib/backup.php
Labels: Backup, Bug

#1608 Command cronjob:run: Optional Job direkt ausführen
  redaxo/src/addons/cronjob/lib/command/run.php
Labels: Cronjob, Feature
