Repository redaxo/redaxo, pull requests merged in 2018-08, with the labels that each got.

#1938 Whoops: Copy-Button für Markdown (Exception mit Stacktrace + Systembericht)
  redaxo/src/core/lib/error_handler.php
Labels: Core, Feature

#1937 Systembericht: Boolesche Werte neutral als yes/no
  redaxo/src/core/pages/system.report.html.php
Labels: Core, Enhancement

#1975 Settings: Sprachauswahl ausgeschrieben
  redaxo/src/core/pages/system.settings.php
Labels: Design / CSS, User Experience (UX)

#1976 Profil-Settings: Language
  redaxo/src/core/pages/profile.php
Labels: Design / CSS, User Experience (UX)

#1978 PHPMailer show SMTP settings only if checked
  redaxo/src/addons/phpmailer/pages/config.php
Labels: PHPMailer, User Experience (UX)

#1981 fix font preload
  redaxo/src/core/lib/response.php
Labels: Bug, Core

#1984 Template select selectpicker
  redaxo/src/addons/structure/pages/index.php
Labels: User Experience (UX)
