Repository redaxo/redaxo, pull requests merged in 2018-06, with the labels that each got.

#1776 Admins können in andere Benutzer wechseln
  redaxo/src/addons/be_style/plugins/redaxo/assets/css/styles.css
  redaxo/src/addons/be_style/plugins/redaxo/scss/_impersonate.scss
  redaxo/src/addons/be_style/plugins/redaxo/scss/master.scss
  redaxo/src/addons/users/pages/users.php
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lang/en_gb.lang
  redaxo/src/core/layout/top.php
  redaxo/src/core/lib/login/api_user_impersonate.php
  redaxo/src/core/lib/login/backend_login.php
  redaxo/src/core/lib/login/login.php
  redaxo/src/core/lib/rex.php
Labels: Core, Feature, Users

#1773 Benutzerliste sortierbar nach Spalten
  redaxo/src/addons/users/pages/users.php
Labels: Feature, Users

#1781 Medienpool: Optionale MimeType-Whitelist
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
  redaxo/src/addons/mediapool/package.yml
  redaxo/src/addons/mediapool/pages/upload.php
Labels: Feature, Mediapool

#1780 rex_form abstrahiert, rex_config_form ergänzt
  redaxo/src/core/lib/form/config_form.php
  redaxo/src/core/lib/form/elements/checkbox.php
  redaxo/src/core/lib/form/elements/container.php
  redaxo/src/core/lib/form/elements/control.php
  redaxo/src/core/lib/form/elements/element.php
  redaxo/src/core/lib/form/elements/options.php
  redaxo/src/core/lib/form/elements/radio.php
  redaxo/src/core/lib/form/elements/select.php
  redaxo/src/core/lib/form/form.php
  redaxo/src/core/lib/form/form_base.php
Labels: Core, Feature

#1785 rex_mediapool_updateMedia: Parameter korrekt nutzen
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
Labels: Bug, Mediapool

#1786 Metainfo: updatedate/user bei Artikeln aktualisieren
  redaxo/src/addons/metainfo/lib/handler/article_handler.php
Labels: Bug, Metainfo

#1787 MP: Beim Datei austauschen auch Whitelist prüfen
  redaxo/src/addons/mediapool/pages/media.php
Labels: Mediapool

#1788 Shortcut für "MIT License"
  redaxo/src/core/pages/packages.php
Labels: Core

#1784 MP: Pjax deaktivieren für Upload-Formulare
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
  redaxo/src/addons/mediapool/pages/media.php
Labels: Bug, Mediapool

#1793 Weniger Dateioperationen beim rendern des Backends
  redaxo/src/core/fragments/core/top.php
Labels: Core, Enhancement

#1797 fix rex_form
  redaxo/src/core/lib/form/config_form.php
  redaxo/src/core/lib/form/form.php
  redaxo/src/core/lib/form/form_base.php
Labels: Bug, Core

#1803 Fallback-Übersetzungen korrigiert
  redaxo/src/core/lib/packages/addons/addon.php
  redaxo/src/core/lib/packages/plugins/plugin.php
  redaxo/src/core/lib/util/i18n.php
  redaxo/src/core/tests/util/i18n_test.php
Labels: Bug, Core

#1806 rex_string::buildAttributes: Doppeltes Escaping von "&" vermeiden
  redaxo/src/core/lib/util/string.php
  redaxo/src/core/tests/util/string_test.php
Labels: Core

#1813 Weniger Dateioperationen im Autoloader
  redaxo/src/core/lib/autoload.php
Labels: Core, Enhancement

#1823 „convert“ binary Erkennung vereinfacht
  redaxo/src/addons/media_manager/lib/effects/effect_convert2img.php
Labels: Media Manager

#1827 rex_delete_cache: rex_config nicht neu laden
  redaxo/src/addons/backup/lib/backup.php
  redaxo/src/core/functions/function_rex_other.php
Labels: Backup, Bug, Core

#1828 Kompatibilität mit anderen Kommando-Shells verbessern
  redaxo/src/addons/media_manager/lib/effects/effect_convert2img.php
Labels: Media Manager

#1838 Benutzerwechsel in inaktive Benutzer ermöglichen
  redaxo/src/core/lib/login/backend_login.php
  redaxo/src/core/lib/login/login.php
Labels: Bug, Core

#1837 Paginierung per RexList ermöglichen
  redaxo/src/core/lib/list.php
Labels: Bug, Core

#1844 "start" als Fallback Cursorname in rex_list wg Rückwärtskompatibilität
  redaxo/src/core/lib/list.php
Labels: Bug, Core

#1848 Kategorie-Status: Korrekte Permission prüfen
  redaxo/src/addons/structure/lib/api_functions/api_category_status.php
Labels: Bug, Structure

#1849 To resolve the lost fetchType bug after next()
  redaxo/src/core/lib/sql/sql.php
  redaxo/src/core/tests/sql/sql_select_test.php
Labels: Bug, Core

#1856 Version 5.6.1
  redaxo/src/addons/media_manager/CHANGELOG.md
  redaxo/src/addons/media_manager/package.yml
  redaxo/src/addons/mediapool/CHANGELOG.md
  redaxo/src/addons/mediapool/package.yml
  redaxo/src/addons/structure/CHANGELOG.md
  redaxo/src/addons/structure/package.yml
  redaxo/src/core/CHANGELOG.md
  redaxo/src/core/boot.php
Labels: Core

#1859 Releasedatum
  redaxo/src/addons/media_manager/CHANGELOG.md
  redaxo/src/addons/mediapool/CHANGELOG.md
  redaxo/src/addons/structure/CHANGELOG.md
  redaxo/src/core/CHANGELOG.md
Labels: Core

#1831 Sidebar Metadaten verschieben
  redaxo/src/addons/metainfo/extensions/extension_content_sidebar.php
  redaxo/src/addons/structure/plugins/content/boot.php
  redaxo/src/addons/structure/plugins/content/package.yml
Labels: Enhancement, Metainfo, Structure

#1873 Neue Methode rex_path::relative()
  redaxo/src/core/lib/autoload.php
  redaxo/src/core/lib/console/assets_sync.php
  redaxo/src/core/lib/console/setup/check.php
  redaxo/src/core/lib/util/logger.php
  redaxo/src/core/lib/util/path.php
  redaxo/src/core/pages/setup.php
  redaxo/src/core/tests/path_test.php
Labels: Core, Feature

#1874 Fehler vermeiden, wenn kein Editor ausgewählt
  redaxo/src/core/lib/error_handler.php
  redaxo/src/core/lib/util/editor.php
Labels: Bug, Core

#1875 Notices/Warnings: Datei verlinken
  redaxo/src/core/lib/error_handler.php
Labels: Core, Enhancement

#1876 Editor-Url: Default keine "URLs" verlinken
  redaxo/src/core/lib/util/editor.php
Labels: Core, Enhancement

#1877 Editor: xdebug wurde nicht behandelt
  redaxo/src/core/lib/util/editor.php
Labels: Bug, Core
