Repository redaxo/redaxo, pull requests merged in 2018-05, with the labels that each got.

#1695 rex_response::sendFile - Added optional parameter for filename
  redaxo/src/core/lib/response.php
Labels: Core, Enhancement

#1696 EP MEDIA_DETAIL_SIDEBAR hinzugefügt
  redaxo/src/addons/mediapool/pages/media.php
Labels: Feature, Mediapool

#1697 EP MEDIA_CATEGORY_IS_IN_USE hinzugefügt
  redaxo/src/addons/mediapool/lang/de_de.lang
  redaxo/src/addons/mediapool/lang/en_gb.lang
  redaxo/src/addons/mediapool/lang/es_es.lang
  redaxo/src/addons/mediapool/lang/it_it.lang
  redaxo/src/addons/mediapool/lang/pt_br.lang
  redaxo/src/addons/mediapool/lang/sv_se.lang
  redaxo/src/addons/mediapool/lib/service_media_category.php
Labels: Feature, Mediapool

#1694 Deinstallation von Addons/Plugins: Cache des Packages löschen
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lang/en_gb.lang
  redaxo/src/core/lib/packages/manager.php
  redaxo/src/core/lib/packages/package.php
Labels: Core, Enhancement

#1702 Medienpool: Alle PHP-Extensions blockieren
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
  redaxo/src/addons/mediapool/tests/mediapool_functions_test.php
Labels: Mediapool, Security

#1703 utf8mb4 für die sql-connection nutzen
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lang/en_gb.lang
  redaxo/src/core/lib/setup/setup.php
  redaxo/src/core/lib/sql/sql.php
  redaxo/src/core/update.php
Labels: Core, Feature

#1714 REDAXO Dokumentation aus Whoops Fehlerseiten verlinken
  redaxo/src/core/lib/error_handler.php
Labels: Core, Feature

#1654 Doku in Footer verlinken
  redaxo/src/core/fragments/core/footer.php
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lang/en_gb.lang
  redaxo/src/core/lang/es_es.lang
  redaxo/src/core/lang/it_it.lang
  redaxo/src/core/lang/pt_br.lang
  redaxo/src/core/lang/sv_se.lang
Labels: Core, Enhancement

#1713 rex_i18n: Englisch als Fallback
  redaxo/src/core/default.config.yml
  redaxo/src/core/lib/util/i18n.php
  redaxo/src/core/tests/util/i18n_test.php
Labels: Core, Feature

#1729 sendResource: Content-Disposition setzen können
  redaxo/src/core/lib/response.php
Labels: Core, Feature

#1731 rex_sql: Mehrere Datensätze gleichzeitig einfügen
  redaxo/src/core/lib/sql/sql.php
  redaxo/src/core/tests/sql/sql_test.php
Labels: Core, Feature

#1754 rex_mediapool_syncFile: Userlogin kann angegeben werden
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
Labels: Enhancement, Mediapool

#1749 Neue Methode rex_sql::insertOrUpdate()
  redaxo/src/core/lib/sql/sql.php
  redaxo/src/core/tests/sql/sql_test.php
Labels: Core, Feature

#1757 Kein doppeltes Escaping der Perms
  redaxo/src/core/lib/login/perm.php
Labels: Bug, Core

#1750 rex_config: weniger Queries nutzen
  redaxo/src/core/lib/config.php
Labels: Core, Enhancement

#1748 MP-Funktionen auch im Frontend einbinden
  redaxo/src/addons/mediapool/boot.php
Labels: Developer Experience (DX), Enhancement, Mediapool

#1770 Countable-Warning (php 7.2) vermeiden
  redaxo/src/addons/users/lib/role.php
Labels: Bug

#1772 Beim Core-Update die config.yml aktualisieren
  redaxo/src/core/update.php
Labels: Core, Developer Experience (DX), Enhancement

#1771 Mountpoints nach Prio sortieren, wenn gleiche Oberkategorie
  redaxo/src/addons/structure/pages/index.php
Labels: Enhancement, Structure

#1775 PhpStorm-Autocompletion für rex::getProperty()->..
  redaxo/src/core/.phpstorm.meta.php
Labels: Core, Enhancement

#1774 Login-Fehlversuche können zurückgesetzt werden
  redaxo/src/addons/users/lang/de_de.lang
  redaxo/src/addons/users/lang/en_gb.lang
  redaxo/src/addons/users/lang/es_es.lang
  redaxo/src/addons/users/lang/pt_br.lang
  redaxo/src/addons/users/lang/sv_se.lang
  redaxo/src/addons/users/pages/users.php
Labels: Feature, Users

#1777 rex_sql: Views nicht als Tables betrachten
  redaxo/src/core/lib/sql/sql.php
Labels: Bug, Core

#1778 Console: Neues Passwort kann gesetzt werden
  redaxo/src/core/lib/console/command_loader.php
  redaxo/src/core/lib/console/user/set_password.php
Labels: Core, Feature
