Repository redaxo/redaxo, pull requests merged in 2018-12, with the labels that each got.

#2240 PHPMailer vendor Update 6.0.6
  redaxo/src/addons/phpmailer/composer.lock
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/README.md
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/SECURITY.md
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/VERSION
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-ar.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-hu.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-id.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-it.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-mg.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-nb.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-nl.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-sk.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-sl.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-sr.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-tl.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/language/phpmailer.lang-uk.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/src/PHPMailer.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/src/POP3.php
  redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/src/SMTP.php
Labels: Security

#2241 Minibar: Artikel nur in der Struktur anzeigen
  redaxo/src/addons/structure/plugins/content/boot.php
Labels: Structure

#2245 mediapool: double extension vulnerablility vermeiden
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
Labels: Mediapool, Security

#2244 Profil: Reload nach Speichern
  redaxo/src/core/pages/profile.php
Labels: Bug, Core

#2238 EP CAT_MOVED
  redaxo/src/addons/structure/lib/service_category.php
Labels: Structure

#2258 Customizer: Persistent XSS via Servername verhindern
  redaxo/src/addons/be_style/plugins/customizer/boot.php
Labels: Security

#2257 Customizer: Theme name auf gültige Zeichen prüfen
  redaxo/src/addons/be_style/plugins/customizer/boot.php
Labels: Security

#2247 PHPMailer::Debug-Medungen in korrekter Sprache
  redaxo/src/addons/phpmailer/lib/mailer.php
Labels: Developer Experience (DX), PHPMailer, User Experience (UX)

#2273 Backup: fast-exit um backups zu beschleunigen
  redaxo/src/addons/backup/lib/backup.php
Labels: Backup, Performance

#2270 Backup: Export beschleunigen fuer datums-typen
  redaxo/src/addons/backup/lib/backup.php
Labels: Backup, Performance

#2268 Medienpool: lazy-load der Bilder in der Liste
  redaxo/src/addons/mediapool/assets/lazysizes.min.js
  redaxo/src/addons/mediapool/boot.php
  redaxo/src/addons/mediapool/pages/media.list.php
Labels: Mediapool, Performance, User Experience (UX)

#2282 media_manager: immutable cache-control header verwenden wenn cache-bu…
  redaxo/src/addons/media_manager/lib/media_manager.php
Labels: Media Manager, Mediapool, Performance, User Experience (UX)

#2291 media-manager: kürzere cache Lebenszeit bei aktiven sessions
  redaxo/src/addons/media_manager/lib/media_manager.php
Labels: Enhancement, Media Manager

#2292 Core: client-seitige daten löschen, wenn session abgelaufen ist
  redaxo/src/core/backend.php
Labels: Core, Enhancement, Security

#2293 Core: Weniger file-operationen im bootstrap
  redaxo/src/core/boot.php
Labels: Core, Performance

#2295 http range - chunksize
  redaxo/src/core/lib/response.php
Labels: Core

#2234 Structure: Umstellung von install.sql auf rex_sql_table
  redaxo/src/addons/structure/install.php
  redaxo/src/addons/structure/install.sql
  redaxo/src/addons/structure/plugins/content/_install.sql
  redaxo/src/addons/structure/plugins/content/install.php
  redaxo/src/addons/structure/plugins/history/_install.sql
  redaxo/src/addons/structure/plugins/history/install.php
  redaxo/src/addons/structure/plugins/history/package.yml
Labels: Enhancement, Structure

#2304 Sandbox für Stream-Include
  redaxo/src/addons/structure/plugins/content/lib/article_content_base.php
Labels: Bug, Core

#2287 MediaManager: Handle large files
  redaxo/src/addons/media_manager/lib/managed_media.php
Labels: Enhancement, Media Manager

#2305 Struktur: Optimistisches caches lesen
  redaxo/src/addons/structure/lib/structure_element.php
  redaxo/src/addons/structure/plugins/content/lib/article_content.php
Labels: Performance, Structure

#2306 Medienpool: Optimistisches cache lesen
  redaxo/src/addons/mediapool/lib/media.php
  redaxo/src/addons/mediapool/lib/media_category.php
Labels: Mediapool, Performance

#2307 Zwischenupdate erfordern bei <5.4
  redaxo/src/core/update.php
Labels: Core

#2312 optische Überlagerungen in dump() vermeiden, fixed #2311
  redaxo/src/core/lib/var_dumper.php
Labels: Core, Enhancement

#2239 EP MEDIA_MOVED
  redaxo/src/addons/mediapool/pages/media.detail.php
  redaxo/src/addons/mediapool/pages/media.list.php
Labels: Mediapool

#2248 Customizer :: Farbe
  redaxo/src/addons/be_style/plugins/customizer/install.php
Labels: User Experience (UX)

#2316 Artikel konnten als rex_category-Objekt erzeugt werden
  redaxo/src/addons/structure/lib/structure_element.php
Labels: Bug, Structure

#2328 rex_context: escaping ergänzt
  redaxo/src/core/lib/context.php
  redaxo/src/core/tests/context_test.php
Labels: Core, Enhancement, Security

#2332 Asset-Bundling: Assets ausserhalb des redaxo asset-path nicht streamen
  redaxo/src/core/fragments/core/top.php
Labels: Bug, Core

#2338 Struktur: unbenutzte sidebar entfernt
  redaxo/src/addons/structure/boot.php
  redaxo/src/core/fragments/core/sidebar.php
  redaxo/src/core/layout/bottom.php
Labels: Structure

#2347 rex_escape anstelle von htmlspecialchars
  redaxo/src/core/lib/form/elements/checkbox.php
Labels: Bug

#2340 rex_log: Unnötiges file_exists entfernt
  redaxo/src/core/lib/util/log_file.php
Labels: Core, Performance

#2329 Lazy minibar element
  redaxo/src/addons/structure/lib/article.php
  redaxo/src/addons/structure/lib/structure_element.php
  redaxo/src/addons/structure/plugins/content/lib/minibar_element_structure_clang.php
  redaxo/src/addons/structure/plugins/content/lib/minibar_element_structure_content.php
  redaxo/src/core/fragments/core/minibar/minibar_backend.php
  redaxo/src/core/fragments/core/minibar/minibar_element.php
  redaxo/src/core/fragments/core/minibar/minibar_frontend.php
  redaxo/src/core/lib/minibar/api_minibar.php
  redaxo/src/core/lib/minibar/minibar.php
  redaxo/src/core/lib/minibar/minibar_element.php
  redaxo/src/core/lib/minibar/minibar_element_system.php
  redaxo/src/core/lib/minibar/minibar_element_time.php
  redaxo/src/core/lib/minibar/minibar_lazy_element.php
Labels: Core, Enhancement

#2360 'packages_boot' stopwatch hinzugefügt
  redaxo/src/core/packages.php
Labels: Core, Enhancement

#2362 Performanceoptimierte rex_stopwatch
  redaxo/src/core/lib/response.php
  redaxo/src/core/lib/util/stopwatch.php
Labels: Core, Enhancement

#2359 Duplizierte Logik zwischen rex_timer und rex_stopwatch reduziert
  redaxo/src/core/lib/util/stopwatch.php
Labels: Core, Enhancement

#2363 rex_stopwatch in rex_timer mergen
  redaxo/src/addons/phpmailer/lib/mailer.php
  redaxo/src/core/lib/login/login.php
  redaxo/src/core/lib/response.php
  redaxo/src/core/lib/sql/sql.php
  redaxo/src/core/lib/util/file.php
  redaxo/src/core/lib/util/socket/socket.php
  redaxo/src/core/lib/util/stopwatch.php
  redaxo/src/core/lib/util/timer.php
  redaxo/src/core/packages.php
Labels: Core, Enhancement

#2365 sql-klassen in redaxo\core\sql package
  redaxo/src/core/lib/sql/column.php
  redaxo/src/core/lib/sql/foreign_key.php
  redaxo/src/core/lib/sql/index.php
  redaxo/src/core/lib/sql/schema_dumper.php
  redaxo/src/core/lib/sql/sql.php
  redaxo/src/core/lib/sql/table.php
  redaxo/src/core/lib/sql/util.php
Labels: Developer Experience (DX), Enhancement
