Repository redaxo/redaxo, pull requests merged in 2018-09, with the labels that each got.

#1982 Crontyp abhängige Parameter in der Reihenfolge ändern
  redaxo/src/addons/cronjob/pages/cronjobs.php
Labels: Developer Experience (DX)

#1945 Datenbank UNIX_TIMESTAMP könnte andere lokale Zeit haben
  redaxo/src/addons/cronjob/lib/manager_sql.php
Labels: Bug, Cronjob

#1993 MM: Beim Löschen von Typ auch deren Effekte löschen
  redaxo/src/addons/media_manager/package.yml
  redaxo/src/addons/media_manager/pages/types.php
Labels: Bug, Media Manager

#1995 MM: maxlength-Attribut
  redaxo/src/addons/media_manager/pages/types.php
Labels: Enhancement, Media Manager

#1992 Vorinstallierte Cronjobs: Werte in DB aktualisiert
  redaxo/src/addons/cronjob/plugins/article_status/install.php
  redaxo/src/addons/cronjob/plugins/optimize_tables/install.php
Labels: Bug, Cronjob

#1997 Error Handler: Frames haben teils keine Datei/Zeile
  redaxo/src/core/lib/error_handler.php
Labels: Bug, Core

#1996 MM: Bug bei Auswahl interlace in image_properties
  redaxo/src/addons/media_manager/lib/effects/effect_image_properties.php
Labels: Bug, Media Manager

#1994 `UNIX_TIMESTAMP()` in mysql vermeiden
  redaxo/src/addons/users/pages/users.php
  redaxo/src/core/lib/login/backend_login.php
Labels: Bug

#2000 PHPMailer :: Verschlüsselungsoption + UI-Änderungen
  redaxo/src/addons/phpmailer/CHANGELOG.md
  redaxo/src/addons/phpmailer/README.md
  redaxo/src/addons/phpmailer/boot.php
  redaxo/src/addons/phpmailer/lang/de_de.lang
  redaxo/src/addons/phpmailer/lang/en_gb.lang
  redaxo/src/addons/phpmailer/lib/mailer.php
  redaxo/src/addons/phpmailer/pages/config.php
Labels: Developer Experience (DX), Enhancement, PHPMailer

#2025 PHPMailer :: README-Tipp zu: Senden über unterschiedliche Domains
  redaxo/src/addons/phpmailer/README.md
Labels: PHPMailer

#1878 Erweiterte Listenansicht für Effekte im Medien-Manager
  redaxo/src/addons/media_manager/fragments/mmeffectslist.php
  redaxo/src/addons/media_manager/pages/effects.php
  redaxo/src/addons/media_manager/pages/types.php
Labels: Enhancement, Media Manager

#1921 Minibar
  redaxo/src/addons/be_style/assets/css/minibar.css
  redaxo/src/addons/be_style/assets/css/styles.css
  redaxo/src/addons/be_style/boot.php
  redaxo/src/addons/be_style/scss/_base.scss
  redaxo/src/addons/be_style/scss/_icon.scss
  redaxo/src/addons/be_style/scss/_minibar.scss
  redaxo/src/addons/be_style/scss/master.scss
  redaxo/src/addons/be_style/scss/master_minibar.scss
  redaxo/src/addons/structure/lang/de_de.lang
  redaxo/src/addons/structure/plugins/content/boot.php
  redaxo/src/addons/structure/plugins/content/lang/de_de.lang
  redaxo/src/addons/structure/plugins/content/lang/en_gb.lang
  redaxo/src/addons/structure/plugins/content/lib/minibar_element_structure_content.php
  redaxo/src/core/assets/redaxo-logo.svg
  redaxo/src/core/boot.php
  redaxo/src/core/fragments/core/bottom.php
  redaxo/src/core/fragments/core/minibar/minibar_backend.php
  redaxo/src/core/fragments/core/minibar/minibar_frontend.php
  redaxo/src/core/install.sql
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lang/en_gb.lang
  redaxo/src/core/layout/bottom.php
  redaxo/src/core/lib/minibar/api_minibar.php
  redaxo/src/core/lib/minibar/minibar.php
  redaxo/src/core/lib/minibar/minibar_element.php
  redaxo/src/core/lib/minibar/minibar_element_system.php
  redaxo/src/core/lib/minibar/minibar_element_time.php
  redaxo/src/core/pages/profile.php
  redaxo/src/core/update.php
Labels: Core, Feature

#2023 PHPMailer :: Bessere Test-Emails
  redaxo/src/addons/phpmailer/lang/de_de.lang
  redaxo/src/addons/phpmailer/lang/en_gb.lang
  redaxo/src/addons/phpmailer/pages/checkmail.php
Labels: PHPMailer

#2051 mediapool xss fix
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
  redaxo/src/addons/mediapool/pages/index.php
  redaxo/src/core/boot.php
Labels: Mediapool, Security

#2055 Media Manager: zugriff nur als admin erlauben, da beliebiger code aus…
  redaxo/src/addons/media_manager/package.yml
Labels: Bug, Security

#2058 XSS Lücke im Mediamanager behoben
  redaxo/src/addons/media_manager/pages/types.php
Labels: Bug, Security

#2057 Sql-Injection Sicherheitslücken in der Benutzerverwaltung behoben
  redaxo/src/addons/users/pages/users.php
  redaxo/src/core/CHANGELOG.md
Labels: Bug, Security
