Repository redaxo/redaxo, pull requests merged in 2018-07, with the labels that each got.

#1891 rex_http_exception: Message aus Orig-Exception nehmen
  redaxo/src/core/lib/exception.php
Labels: Bug, Core

#1890 blockquote: Normale Schriftgröße
  redaxo/src/addons/be_style/assets/css/styles.css
  redaxo/src/addons/be_style/plugins/redaxo/scss/_variables.scss
Labels: Design / CSS

#1889 rex_sql: Neue Methoden getTables/getViews/getTablesAndViews; deprecated showTables
  redaxo/src/core/lib/sql/sql.php
  redaxo/src/core/tests/sql/sql_test.php
Labels: Bug, Core, Feature

#1894 db:connection-options: auch mysqldump unterstützen
  redaxo/src/core/lib/console/db/connection_options.php
Labels: Core

#1895 db:connection-options: Weitere Beispiele
  redaxo/src/core/lib/console/db/connection_options.php
Labels: Core

#1835 Keine fixe Breite für table-actions
  redaxo/src/addons/be_style/plugins/redaxo/assets/css/styles.css
  redaxo/src/addons/be_style/plugins/redaxo/scss/_tables.scss
Labels: Design / CSS

#1898 Mediapool whitelist Bug behoben
  redaxo/src/addons/mediapool/functions/function_rex_mediapool.php
  redaxo/src/addons/mediapool/pages/media.php
  redaxo/src/addons/mediapool/pages/upload.php
  redaxo/src/addons/mediapool/tests/mediapool_functions_test.php
  redaxo/src/addons/project/boot.php
Labels: Bug, Mediapool

#1922 ClassMapAuthoritative=true im ComposerClassloader verwenden
  redaxo/src/core/lib/autoload.php
Labels: Core, Enhancement

#1910 rex_sql: getTables statt showTables nutzen
  redaxo/src/addons/backup/lib/backup.php
  redaxo/src/addons/backup/package.yml
  redaxo/src/addons/backup/pages/export.php
  redaxo/src/addons/cronjob/package.yml
  redaxo/src/addons/cronjob/plugins/optimize_tables/lib/cronjob.php
  redaxo/src/core/lib/setup/import.php
Labels: Bug

#1861 Neues Feature: Arbeitsversion leeren
  redaxo/src/addons/structure/plugins/version/boot.php
  redaxo/src/addons/structure/plugins/version/lang/de_de.lang
  redaxo/src/addons/structure/plugins/version/lang/en_gb.lang
  redaxo/src/addons/structure/plugins/version/lib/revision.php
Labels: Feature, Structure

#1932 Fixed missing table-prefix
  redaxo/src/addons/structure/plugins/content/pages/templates.php
Labels: Bug, Structure

#1928 Systembericht
  redaxo/src/core/lang/de_de.lang
  redaxo/src/core/lang/en_gb.lang
  redaxo/src/core/lib/be/controller.php
  redaxo/src/core/lib/console/command_loader.php
  redaxo/src/core/lib/console/system/report.php
  redaxo/src/core/lib/system_report.php
  redaxo/src/core/pages/system.report.html.php
  redaxo/src/core/pages/system.report.markdown.php
Labels: Core, Feature

#1899 be_style:compile Command hinzugefügt
  redaxo/src/addons/be_style/README.md
  redaxo/src/addons/be_style/boot.php
  redaxo/src/addons/be_style/lib/be_style.php
  redaxo/src/addons/be_style/lib/command/compile.php
  redaxo/src/addons/be_style/package.yml
  redaxo/src/addons/be_style/plugins/redaxo/boot.php
Labels: Console, Feature
