Repository redaxo/redaxo, pull requests merged in 2019-01, with the labels that each got.

#2343 Gibt korrekten MIME Type für CSS / JS Dateien aus
  redaxo/src/addons/media_manager/lib/managed_media.php
Labels: Enhancement, Media Manager

#2381 rex_view: async/defered optionen für javascript dateien unterstützen
  redaxo/src/core/fragments/core/top.php
  redaxo/src/core/layout/top.php
  redaxo/src/core/lib/view.php
  redaxo/src/core/tests/view_text.php
Labels: Add to Docs, Core, Enhancement

#2408 Minibar: Im Medienpool und in der Linkmap nicht anzeigen
  redaxo/src/addons/mediapool/pages/index.php
  redaxo/src/addons/structure/pages/linkmap.php
Labels: Enhancement, Mediapool, Structure

#2409 Medienpool: Höhe des Popups an Screen anpassen
  redaxo/src/addons/mediapool/assets/mediapool.js
Labels: Enhancement, Mediapool

#2443 Console: Fixed 'PHP Notice: Undefined index: REQUEST_URI'
  redaxo/src/addons/debug/boot.php
Labels: Bug, Debug

#2444 Fixed 'rex_form_raw_element::__construct() does not call parent const…
  redaxo/src/core/lib/form/elements/raw.php
  redaxo/src/core/lib/form/form_base.php
Labels: Bug, Core

#2449 rex::isFrontend() hinzugefügt
  redaxo/src/core/lib/rex.php
Labels: Add to Docs, Core, Developer Experience (DX), Enhancement

#2448 installer warnings gefixed
  redaxo/src/addons/install/lib/api_package_add.php
  redaxo/src/addons/install/lib/api_package_download.php
  redaxo/src/addons/install/lib/api_package_update.php
Labels: Enhancement, Installer

#2422 Hauptnavigation: Designanpassung
  redaxo/src/addons/be_style/assets/css/styles.css
  redaxo/src/addons/be_style/scss/_base.scss
Labels: Awaiting feedback

#2450 minibar: fix errors wenn die backend user session im frontend fehlt
  redaxo/src/addons/structure/plugins/content/lib/minibar/article.php
  redaxo/src/addons/structure/plugins/content/lib/minibar/clang.php
Labels: Bug, Core

#2475 Medienpool: Anzeige der IDs entfernt
  redaxo/src/addons/mediapool/lib/media_category_select.php
  redaxo/src/addons/mediapool/pages/media.list.php
Labels: Mediapool

#2474 Medienpool-Kategorien: Fokus auf Inputfeld beim Anlegen
  redaxo/src/addons/mediapool/pages/structure.php
Labels: Mediapool, User Experience (UX)
