Repository redaxo/redaxo, pull requests merged in 2019-03, with the labels that each got.

#2528 rex_form/list nutzbar für 2. DB
  redaxo/src/core/lib/form/form.php
  redaxo/src/core/lib/list.php
Labels: Core, Enhancement

#2495 console: user:create kommando hinzugefügt
  redaxo/src/core/lib/console/command_loader.php
  redaxo/src/core/lib/console/user/create.php
Labels: Console, Feature

#2472 Medienpool: Visuelles Feedback, Fenster schließen
  redaxo/src/addons/be_style/plugins/redaxo/assets/css/styles.css
  redaxo/src/addons/be_style/plugins/redaxo/scss/_buttons.scss
  redaxo/src/addons/mediapool/assets/mediapool.js
  redaxo/src/addons/mediapool/pages/media.detail.php
  redaxo/src/addons/mediapool/pages/media.list.php
Labels: Mediapool

#2556 Beschreibung via markdown parsen lassen, installierter Version auf De…
  redaxo/src/addons/be_style/plugins/redaxo/assets/css/styles.css
  redaxo/src/addons/be_style/plugins/redaxo/scss/_docs.scss
  redaxo/src/addons/install/pages/packages.add.php
  redaxo/src/addons/install/pages/packages.update.php
  redaxo/src/core/fragments/core/page/readme.php
Labels: Installer

#2586 Markdown beim AddOn-Upload parsen
  redaxo/src/addons/install/pages/packages.upload.php
Labels: Installer

#2676 Im debug mode das frontend vor seo crawlern verstecken
  redaxo/src/core/frontend.php
Labels: Core, Security

#2685 asset-streaming: /assets/ rooted pfade untersützen
  redaxo/src/core/backend.php
Labels: Core, Enhancement

#2679 Cronjob log unter system/log anzeigen
  redaxo/src/addons/cronjob/package.yml
  redaxo/src/addons/cronjob/pages/log.php
  redaxo/src/addons/cronjob/pages/system.log.cronjob.php
Labels: Cronjob, Enhancement

#2695 friendsofredaxo/linter verwenden
  .travis.yml
Labels: Contributor Experience
