Repository redaxo/redaxo, pull requests merged in 2023-09, with the labels that each got.

#5790 ErrorMail: added Frontend Url
  redaxo/src/addons/phpmailer/lib/mailer.php
Labels: PHPMailer

#5695 convert2image: Adds video preview genertion via ffmpeg
  redaxo/src/addons/media_manager/lang/de_de.lang
  redaxo/src/addons/media_manager/lib/effects/effect_convert2img.php
Labels: Media Manager

#5796 new rex file append
  redaxo/src/core/lib/util/file.php
Labels: Feature, Developer Experience (DX)

#5803 fix dump function
  redaxo/src/core/lib/var_dumper.php
Labels: automerge
